/* Train Scheduler CSS */

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

nav {
    background-color: #ff5252;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.section {
    background-color: #ff867f;
}

.header {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider {
    margin-bottom: 30px;
}

tr {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

thead {
    padding: 20px;
    border-bottom: 1px solid #5f4339;
    margin-bottom: 20px;
}

#schedule {
    border: 1px solid #c50e29;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

#addForm {
    border: 1px solid #c50e29;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

label {
    font-family: 'Lato', sans-serif;
}

.btn {
    font-family: 'Lato', sans-serif;
}



